<div class='container py-5'>

  <div class='row'>
    <div class='col-12 col-lg-10 col-xl-8 mx-auto'>
      <div class='card'>
        <div class='card-body'>
          <div class='mb-3 d-flex justify-content-center'>
            <div class='h-100 my-auto'>
              <h2 class=''>總支出</h2>
              <p style='font-size: 5rem; color: #FF9900'>{{totalExpense}}</p>
            </div>
            <div style='width: 300px;'>
              <canvas id='myChart'></canvas>
            </div>
          </div>

          <div class='mx-auto'>
            <table class='table table-hover'>
              <thead>
                <tr>
                  <th scope='col' class='text-center'>類別</th>
                  <th scope='col' class='text-center'>名稱</th>
                  <th scope='col' class='text-center'>日期</th>
                  <th scope='col' class='text-center'>金額</th>
                  <th scope='col' class='text-center'>編輯</th>
                  <th scope='col' class='text-center'>刪除</th>
                </tr>
              </thead>
              <tbody>
                {{#each records}}
                  <tr class='align-middle'>
                    <td class='text-center'><i
                        class='{{this.category.icon}}'
                      ></i></td>
                    <td class='text-center'>{{this.name}}</td>
                    <td class='text-center'>{{this.date}}</td>
                    <td class='text-center'>{{this.amount}}</td>
                    <td class='text-center'><a
                        href='/records/{{this._id}}/edit'
                      ><i class='fa-solid fa-pen-to-square'></i></a></td>
                    <td class='text-center'><a
                        href='/records/{{this._id}}/delete'
                      ><i class='fa-solid fa-trash text-danger'></i></a></td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
            <a href='/records/new'><button
                class='btn btn-primary text-white'
              >新增支出</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src='https://cdn.jsdelivr.net/npm/chart.js'></script>
<script>
  const chartData =
  {{{stringifiedData}}}; const labels = Object.keys(chartData); const data =
  Object.values(chartData); const ctx = document.getElementById('myChart'); new
  Chart(ctx, { type: 'doughnut', data: { labels: labels, datasets: [{ label:
  '金額', data: data, borderWidth: 1 }] }, options: { scales: { xAxes: [{
  gridLines: { display: false } }], yAxes: [{ gridLines: { display: false } }] }
  } });
</script>