<div class='container py-5'>

  <div class='row'>
    <div class='col-12 col-lg-10 col-xl-8 mx-auto'>
      <div class='card'>
        <div class='card-body'>
          <div class='mb-3 d-flex justify-content-center'>
            <div class='h-100 my-auto text-center'>
              <h2 class=''>
                {{#if currentCategory}}
                  {{currentCategory}}
                {{else}}
                  總支出
                {{/if}}</h2>
              <p style='font-size: 5rem; color: #FF9900'>{{totalExpense}}</p>
              <span style='color:#FF9900'>NTD</span>
            </div>

            {{#if currentCategory}}{{else}}
              <div style='width: 300px;'>
                <canvas id='myChart'></canvas></div>
            {{/if}}

          </div>
          <div class='dropdown d-flex justify-content-end mb-3'>
            <a
              class='btn btn-theme dropdown-toggle'
              href='#'
              role='button'
              data-bs-toggle='dropdown'
              aria-expanded='false'
            >
              篩選支出類別
            </a>

            <ul class='dropdown-menu'>
              <li><a class='dropdown-item' href='/'>全部類別</a></li>
              {{#each categories}}
                <li><a
                    class='dropdown-item'
                    href='/category/{{this._id}}'
                  >{{this.name}}</a></li>
              {{/each}}
            </ul>
          </div>
          <div class='mx-auto'>
            <table class='table table-hover'>
              <thead>
                <tr>
                  <th scope='col' class='text-center'>類別</th>
                  <th scope='col' class='text-center'>名稱</th>
                  <th scope='col' class='text-center'>日期</th>
                  <th scope='col' class='text-center'>金額</th>
                  <th scope='col' class='text-center'>編輯</th>
                  <th scope='col' class='text-center'>刪除</th>
                </tr>
              </thead>
              <tbody>
                {{#each records}}
                  <tr class='align-middle'>
                    <td class='text-center'><i
                        class='{{this.category.icon}}'
                      ></i></td>
                    <td class='text-center'>{{this.name}}</td>
                    <td class='text-center'>{{this.date}}</td>
                    <td class='text-center'>{{this.amount}}</td>
                    <td class='text-center'><a
                        href='/records/{{this._id}}/edit'
                      ><i class='fa-solid fa-pen-to-square'></i></a></td>
                    <td class='text-center'>
                      <form
                        action='./records/{{this._id}}?_method=DELETE'
                        method='POST'
                        style='display: inline;'
                      >
                        <button
                          class='btn btn-transparent'
                          type='submit'
                          onclick='return confirmDelete()'
                        ><i class='fa-solid fa-trash text-danger'></i></button>
                      </form></td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
            <div class='text-center'>
              <a href='/records/new'><button
                  class='btn btn-primary text-white'
                  style='font-size: large; width: 10rem;'
                >新增支出</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src='https://cdn.jsdelivr.net/npm/chart.js'></script>
<script>
  const chartData =
  {{{stringifiedData}}}; const labels = Object.keys(chartData); const data =
  Object.values(chartData); const ctx = document.getElementById('myChart'); new
  Chart(ctx, { type: 'doughnut', data: { labels: labels, datasets: [{ label:
  '金額', data: data, borderWidth: 1 }] }, options: { scales: { xAxes: [{
  gridLines: { display: false } }], yAxes: [{ gridLines: { display: false } }] }
  } });
</script>
<script>
  function confirmDelete() { const result = confirm('確定刪除該筆支出？'); if
  (result) { alert('已刪除支出紀錄！'); return true; } else { return false; } }
</script>